@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Costa Rica<br />
    Alajuela, Alajuela <br />
    <abbr title="Teléfono">Telf:</abbr>
    +506 2401 5200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">josaza2114@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">test@example.com</a>
</address>